doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="/blog/main.css")
  style
    h3 color: red;
  body
    .container.wrapper
      .container.navbar
        ul
          li
            a(href="/") timothy lim
          li
            a(href="/blog") blog
      .container.main
        != yield

