doctype
html
  head
    link(rel="stylesheet" href="/main.css")
  body
    .container.wrapper
      .container.navbar
        ul
          li 
            a(href="/") timothy lim
          li
            a(href="/blog") blog
      != yield
