.row(style='padding: 0px; margin: 10px; margin-left: 27px; margin-right:40px;margin-bottom: 80px;background-color: #d9d9d9')
  .col-lg-5.col-xs-12(style= 'padding-left:0; padding-right:0')
    a(target= "_blank" href='http://timothyylim.github.io/romulus/')
      image.img-responsive(src='images/romulus2.png')
  .col-lg-6.col-xs-12
    h1  romulus
    p
      |a responsive photo gallery built with bootstrap
      br
      br
      |I really enjoy taking landscape photographs but haven't 
      |really brought myself to trust  third-party websites to host them 
      |(flickr seems to be a sinking ship). Perhaps
      |this was the perfect excuse to build something.
      br
      br
      a(target='_blank' href='https://github.com/timothyylim/romulus/tree/gh-pages') source

.row(style='padding: 0px; margin: 10px; margin-left: 27px; margin-right:40px;margin-bottom: 80px;background-color: #d9d9d9')
  .col-lg-5.col-xs-12(style= 'padding-left:0; padding-right:0')
    a(target= "_blank" href='https://github.com/timothyylim/victorious_secret')
      image.img-responsive(src='images/victorious-secret.png')
  .col-lg-6.col-xs-12
    h1  victorious secret
    p
      |an AI for MIT's 2016 Battlecode Competition
      br
      br
      |Every year MIT hosts a competition combining strategy, software engineering and artificial intelligence.  
      |Victorious Secret was my team's entry this year. Although we did well in the seeding round, we got obliterated in the finals. Tears were shed, dreams were crushed (specifically, ours).  
      br
      br
      a(target='_blank' href='https://github.com/timothyylim/victorious_secret') source

.row(style='padding: 0px; margin: 10px; margin-left: 27px; margin-right:40px;margin-bottom: 80px;background-color: #d9d9d9')
  .col-lg-5.col-xs-12(style= 'padding-left:0; padding-right:0')
    a(target= "_blank" href='https://twitter.com/haze_watch')
      image.img-responsive(src='images/haze-watch.png')
  .col-lg-6.col-xs-12
    h1  haze watch
    p
      |a twitter bot that reported on air pollution in Kuala Lumpur, Malaysia
      br
      br
      |In the summer of 2015, South East Asia experienced some of the worst haze in recent history. 
      |I wrote a python script to scrape air pollution readings from 
      |a government website and tweet them every hour. 
      br
      br
      a(target='_blank' href='https://github.com/timothyylim/haze-bot') source
