.row(style='padding: 0px; margin: 10px; margin-left: 27px; margin-bottom: 80px')
  .col-md-5.col-xs-12(style= 'padding-left:0; padding-right:0')
    image.img-responsive(src='summer-snow2.jpg')
  .col-md-6.col-xs-12
    p
      |hello world. I'm a computer science student at Imperial College, London and
      |currently teaching myself web-development.
      br
      br
      |Feel free to check out my work and if you have any questions you can
      |contact me at:
      br
      br
      |timothylim23[at]gmail[dot]com
      br
      br
      a(target='_blank' href='timothylimcv.pdf') cv
      =space
      |  |
      =  ' '
      a(target='_blank' href='https://github.com/timothyylim') github
      =space
      |  |
      =  ' '
      a(target='_blank' href='https://uk.linkedin.com/in/timothylim1') linkedin
      br
      br
      a(target='_blank' href='reading') what i'm reading
