doctype html
html
  head
    meta(charset='utf-8')
    title= 'Timothy Lim'
    link(href='main.css', rel='stylesheet')

  body
      .container.main
        .container.photo
          img(src= "summer-snow2.jpg")
        .container.description 
          p 
            i code is worse than cocaine, it hooks you 
            i without even having the decency to kill you
            br
            br
            | programmer in london currently working in two directions: 
            br
            br
            | 1. mastering the LAMP stack 
            br
            | 2. hacking ethereum
            br
            br
            | hopefully they converge at some point.
        
