h3 timothy lim

ul
    a(href='/') code
    |  - it is what it is <br />
    a(href='/') notene
    | - essays on life (forthcoming) <br />
    a(href='/') øyet
    |  - photos of life (also forthcoming) <br />
    a(href='/tutorials/tutorials-index.html') tutorials
    |  - programming guides mostly <br />
    a(href='/') blog
    | - a journal of programming fixes <br />
    a(href='/about.html') whoami
    | - who i am
